<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
	<title>Post</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<header>
			<img src="{{ url_for('static', filename='logo.png') }}" alt="Flask App" class="img-fluid">
			<h1>Post</h1>
		</header>

		<nav>
			<ul>
				<li><a href="{{ url_for('index') }}">الرئيسية</a></li>
				<li><a href="{{ url_for('about') }}">حول</a></li>
				<li><a href="{{ url_for('contact') }}">اتصل بنا</a></li>
			</ul>
		</nav>

		<main>

			<p>سهل الغاب سهل منبسط خصب يقع في محافظة حماة في المنطقة الوسطى من سوريا بين جبال اللاذقية غربا وجبل الزاوية شرقا وجسر الشغور شمالا ومصياف جنوبا، يمر فيه نهر العاصي، وقد كان قسم من سهل الغاب مستنقعًا تم تجفيفه , ويبلغ طول سهل الغاب 80 كم وعرضه 10-15 كم.
ورد ذكره في العديد من المصادر التاريخية وحصلت بجانبه معارك تاريخية ولا سيما قبل الميلاد، وتقع على أطرافه العديد من القلاع التاريخية أهمها قلعة أفاميا وقلعة سمعان.

في ثمانينيات القرن الماضي تم وصله مع الساحل السوري بطريق واسع عن طريق بيت ياشوط وهذا ما كان له أثر اقتصادي كبير على منطقة سهل الغاب إذ أصبحت بلدات وقرى منطقة جبلة سوقًا لتصريف المنتجات الزراعية لسهل الغاب وأصبح هذا الطريق معبرأ أساسياً للدخـّان البلدي ذي الجودة العالية والذي يأتي من بيت ياشوط وقراها ويصدر إلى كافة المناطق.
بلغ عدد سكان سهل الغاب عام 2010 حوالي 325 ألف نسمة وتسكنه العديد من العشائر العربية العريقة مثل الدمالخة والنعيم وبني خزاعة والويس والجيس والفريجاوية وبني خالد وبني سعيد , ومعظم السكان يعملون في مجال الزراعة .</p>
		</main>
	</div>
</body>
</html>